<b><h2 class="text-center">All Articles</h2></b>

<% @article.each do |article| %>

	<div class='row'>
		<div class="text-right col-sm-1 border">	
			# <%= article.id %>
		</div>
		<div class="text-left col-sm-auto">
			<h4><%= article.title %></h4>
		</div>	
	</div>
	
	<div class='row'>
		<div class="col-sm-1"></div>
		<div class="col-sm-11">
			<%= article.text  %>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-11">
			<%= link_to 'Show details', article_path(article) %>  
			
			<% if user_signed_in? %>
				<%= link_to 'Edit', edit_article_path(article) %> 
			
				<%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
	</div>
	<hr />

<% end %>
