<h2>New article</h2>

<!-- Здесь определяется куда переходит браузер после нажатии кнопки в форме
                   url: статей_путь  (множественное число) => /articles/ 
    функция переменная { это  всё  хеш } 
                       key: value                      -->
<%= form_for :article, url: articles_path do |f| %>

	<% if @article && @article.errors.any? %>
	<ul>
		 <% @article.errors.full_messages.each do |msg| %>

			<li><%= msg %></li>
		 
		 <% end %>
	</ul>
	<% end %>

	<p>
		<%= f.label :title%><br />
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :text%><br />
		<%= f.text_area :text %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>