<h2>
	Article # 
	<%= @article.id %>
	:
	<%= @article.title %>	
</h2>

<p>	
	<%= @article.text %>
</p>

<h3>Comments for this Article:</h3>
<ul>
	<% @article.comments.each do |item_comment| %>
		<li>
			<b><%= item_comment.autor %> said: </b>
			<i><%= item_comment.body %> </i>
		</li>
	<% end %>
</ul>
<br />

<h3>Addet new comment:</h3>
<p>
	<!-- Здесь определяется куда переходит браузер после нажатии кнопки в форме
                   url: статей_путь  (множественное число) => /articles/ 
    	функция переменная { это  всё  хеш } 
                       key: value                      -->
	<%= form_for([@article, @article.comments.build]) do |f| %>
		<p>
			<%= f.label :autor %><br />
			<%= f.text_field :autor %>
		</p>

		<p>
			<%= f.label :body%><br />
			<%= f.text_area :body %>
		</p>

		<p>
			<%= f.submit %>
		</p>	
</p>
<% end %>